.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px
}

.input-label {
  color: #000;
}

.input-form {
    display: block;
    border: none;
    border-bottom: 1px solid #808080;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px
}

.login-button {
  border: none;
  width: 120px;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  color: #fff;
  background-color: #004A75;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.sign-up-button {
  border: none;
  width: 120px;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  color: #fff;
  background-color: #004A75;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.div-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px
}
