.navbar-bar {
  color: #fff;
  background-color: #005D53;
  width: auto;
  overflow: hidden;
  float: left;
  border: none;
  outline: none;
  display: block;
  position: static
}

.navbar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  outline: none;
  display: block
}

.navbar-icon {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #005D53;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.navbar-icon:hover {
    background-color:  #007357
}

.search-icon {
  float: right
}
